
$brand-primary:         #2596e7;
$brand-success:         #86E825;
$brand-info:            #75CAEB;
$brand-warning:         #E9C378;
$brand-danger:          #FF5959;

// $fla-sidebar-link-active-color:       #BCE784 !default;
// General
$fla-link-color:                      $brand-primary !default;
$fla-link-hover-color:                #5DD39E !default;


// Sidebar / navbar
$fla-sidebar-background:              #2C3D52 !default;
$fla-sidebar-header-color:            #fff !default;
$fla-sidebar-header-background:       #243142 !default;
$fla-sidebar-link-color:              #5DD39E !default;
$fla-sidebar-link-background:         transparent !default;
$fla-sidebar-link-hover-color:        #6FFFE9 !default;
$fla-sidebar-link-hover-background:   transparent !default;
$fla-sidebar-link-active-color:       #fff !default;
$fla-sidebar-link-active-background:  #3A506B !default;
